body {
  margin: 0;
  background: linear-gradient(180deg, #212332 0%, #212332 100%);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  background: linear-gradient(180deg, #212332 0%, #212332 100%);
  min-height: 100vh;
  color: #fff;
  width: 100%;
  min-width: 600px;
}